<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" *ngIf="isLogin && role == 'student'" routerLink="students">Home</a>
  <a class="navbar-brand" *ngIf="isLogin && role == 'instructor'" routerLink="instructors">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink = "/students/create" *ngIf="!isLogin">Register as Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/instructors/create" *ngIf="!isLogin">Register as Instructor</a>
        </li>
        <li class="nav-item" *ngIf = '!isLogin'>
          <a class="nav-link" routerLink = "/login">Login</a>
        </li> 
        <a class="navbar-brand" *ngIf="isLogin && role == 'student'" routerLink="students/studentHome">My Reservation</a>
        <li class="nav-item" *ngIf="isLogin && role == 'student'">
          <a class="nav-link" (click)="updateStudent()">Edit</a>
        </li> 
        <li class="nav-item" *ngIf="isLogin && role == 'instructor'">
          <a class="nav-link" (click)="updateInstructor()">Edit</a>
        </li> 
        <li class="nav-item" *ngIf = 'isLogin' (click) = 'logout()'>
          <a class="nav-link" routerLink = "">Logout</a>
        </li> 
      </ul>
    </div>
  </nav>