<form [formGroup]="registerForm" class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>UserName</mat-label>
    <input type="text" matInput formControlName="UserName">
    <mat-error *ngIf="isControlError('UserName', 'pattern')">
      Username should contain only characters or digits.
    </mat-error>
    <mat-error *ngIf="isControlError('UserName', 'required')">
      Username is <strong>required.</strong>
    </mat-error>
  </mat-form-field>
      
  <mat-form-field>
    <mat-label>Select your gender</mat-label>
    <select matNativeControl required formControlName="Gender">
      <option label="--select gender --" disabled></option>
      <option *ngFor="let gender of genderValues" [value]="gender">
        {{ genderEnum[+gender] }}
        </option>
    </select>
    <mat-error *ngIf="isControlError('Gender', 'required')">
      Gender is required
    </mat-error>
  </mat-form-field>
      
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="Email">
    <mat-error *ngIf="isControlError('Email', 'email')">
      Enter a valid Email
    </mat-error>
    <mat-error *ngIf="isControlError('Email', 'required')">
      Email is <strong>required.</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="Password">
    <mat-error *ngIf="isControlError('Password', 'pattern')">
      Password should contain at least one character.
    </mat-error>
    <mat-error *ngIf="isControlError('Password', 'required')">
      Password is <strong>required.</strong>
    </mat-error>
  </mat-form-field>
      
  <mat-form-field class="example-full-width">
    <mat-label>Degree</mat-label>
    <input type="number" matInput formControlName="Degree">
    <mat-error *ngIf="isControlError('Degree', 'required')">
      Degree is <strong>required.</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Appointment</mat-label>
    <input type="datetime-local" matInput formControlName="Appointment">
    <mat-error *ngIf="isControlError('Appointment', 'required')">
      Appointment is <strong>required.</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Nationality</mat-label>
    <input type="text" matInput formControlName="Nationality">
    <mat-error *ngIf="isControlError('Nationality', 'required')">
      Nationality is <strong>required.</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Descroption</mat-label>
    <input type="text" matInput formControlName="Descroption">
    <mat-error *ngIf="isControlError('Descroption', 'required')">
      Descroption is <strong>required.</strong>
    </mat-error>
  </mat-form-field>

  <div class="example-full-width">
    <input type="file" #fileInput hidden (change)="uploadImage($event)">
    <button mat-button color="primary" (click)="fileInput.click()">Select Image</button>
    <span *ngIf="isControlError('Imgname', 'required')">
      Image is <strong>required.</strong></span>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Experience</mat-label>
    <input type="text" matInput formControlName="Experience">
    <mat-error *ngIf="isControlError('Experience', 'required')">
      Experience is <strong>required.</strong>
    </mat-error>
  </mat-form-field>

  <div class="example-full-width">
    <input type="file" #fileInput2 hidden (change)="uploadCert($event)">
    <button mat-button color="primary" (click)="fileInput2.click()">Select Certificate</button>
    <span *ngIf="isControlError('TeachingCertificate', 'required')">
      TeachingCertificate is <strong>required.</strong></span>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>ExtraCourses</mat-label>
    <input type="text" matInput formControlName="ExtraCourses">
    <mat-error *ngIf="isControlError('ExtraCourses', 'required')">
      ExtraCourses is <strong>required.</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Select Language</mat-label>
    <select matNativeControl required [(ngModel)]="selectedLanguageId" name="LanguageId" formControlName ="LanguageId">
      <option label="-- Select Language --" disabled></option>
      <option *ngFor="let language of languages" [value]="language.id">
        {{ language.name }}
      </option>
    </select>
    <mat-error *ngIf="isControlError('LanguageId', 'required')">
      Language is required
    </mat-error>
  </mat-form-field>
  
      <div class="alert alert-danger" *ngIf="registerForm.invalid && (registerForm.dirty)">
          Please fix the errors in the form.
      </div>
      
      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" class="btn btn-primary" (click)="registerData($event)">Register</button>
      </div>
  </form>    