<div class="container">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"i18n>
      Select Language
    </button>
    <div class="dropdown-menu" aria-labelledby="languageDropdown">
      <a class="dropdown-item" href="#" (click)="selectOption(0, $event)"i18n>Select Option</a>
      <a class="dropdown-item" href="#" (click)="selectOption(1, $event)"i18n >English</a>
      <a class="dropdown-item" href="#" (click)="selectOption(1, $event)"i18n >English</a>
      <a class="dropdown-item" href="#" (click)="selectOption(2, $event)"i18n>Germany</a>
      <a class="dropdown-item" href="#" (click)="selectOption(3, $event)"i18n>France</a>
    </div>
  </div>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let instructor of cards | paginate: { itemsPerPage: 6, currentPage: page, totalItems: totalCount, id: 'server' }">
      <div class="card">
        <img [src]="instructor.imgName" class="card-img-top" alt="Card Image" />
        <div class="card-body">
          <h5 class="card-title">{{ instructor.userName }}</h5>
          <p class="card-text">
            <span *ngIf="instructor.gender === 1"i18n>Male</span>
            <span *ngIf="instructor.gender === 2"i18n>Female</span>
          </p>
          <h5 class="card-title">
            {{ instructor.appointment | date : "medium" }}
          </h5>
          
          <ngb-rating [max]="5" class="custom-rating" [readonly]="true"></ngb-rating>
          <br>
          <a (click)="getInstructorDetails(instructor.id)" class="btn btn-primary"i18n>Read More</a>
          <span style="margin: 0 10px"></span>
          <a href="#" class="btn btn-success" (click)="enrollInstructor(instructor, $event)"i18n>Enroll</a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <pagination-controls (pageChange)="onPageChange($event)" id="server"></pagination-controls>
</div>
