  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let reservation of cards">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>UserName : </b>{{reservation.student?.userName}}</h5>
            <p class="card-text"><b>Gender : </b>
              <span *ngIf="reservation.student?.gender === 1">Male</span>
              <span *ngIf="reservation.student?.gender === 2">Female</span>
            </p>
            <p class="card-text"><b>Age : </b>
                {{reservation.student?.age}}
            </p>
            <p class="card-text"><b>Level : </b>
                {{reservation.student?.level}}
            </p>
            <span style="margin: 0 10px;"></span>  
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  
  