<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let reservation of cards">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>UserName : </b>{{reservation.instructor?.userName}}</h5>
            <p class="card-text"><b>Gender : </b>
              <span *ngIf="reservation.instructor?.gender === 1">Male</span>
              <span *ngIf="reservation.instructor?.gender === 2">Female</span>
            </p>
            <img [src]="reservation.instructor?.imgName" class="card-img-top" alt="Card Image">
            <p class="card-text"><b>Language : </b>
                <span *ngIf="reservation.instructor?.languageId === 1">English</span>
                <span *ngIf="reservation.instructor?.languageId === 2">Frensh</span>
                <span *ngIf="reservation.instructor?.languageId === 3">Germany</span>
              </p>
              <h4 class="card-title"><b>Appointment : </b>{{reservation.instructor?.appointment | date:'medium'}}</h4>
            <span style="margin: 0 10px;"></span>  
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  
  