<div class="modal-header">
    <h4 class="modal-title">Enrollment Failur</h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      <i class="fas fa-check-circle"></i>
      <p class="mb-0">Sorry, You can't book with two instructors at the same time</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
  
