<h2>Update Student</h2>

<form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
  <div>
    <label for="userName">Username</label>
    <input type="text" id="userName" formControlName="userName" required>
  </div>
  <div>
    <label for="gender">Gender</label>
    <input type="number" id="gender" formControlName="gender" required>
  </div>
  <div>
    <label for="age">Age</label>
    <input type="number" id="age" formControlName="age" required>
  </div>
  <div>
    <label for="level">Level</label>
    <input type="text" id="level" formControlName="level" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" required>
  </div>

  <button type="submit" [disabled]="updateStudentForm.invalid">Update Student</button>
</form>

